<h2 mat-dialog-title>Add New User</h2>
<div mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required email />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <input matInput formControlName="gender" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone_number" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Social Insurance Number</mat-label>
      <input matInput formControlName="social_insurance_number" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput formControlName="date_of_birth" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="userForm.invalid">
    Save
  </button>
</div>
